<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}" type = "text/css"/>
<meta name="viewport" content = "width=device-width, initial-scale=1.0">

  <style>
  html,
  body {
    height:100%
  }
  .cell
  { margin-left: 2px;
    margin-top: 2px;
    float: left;
    height: 30px;
    width: 30px;
    background-color: #000;
  }
  #abc
  {

    margin-top:100px;
    width:560px;
  }
  </style>
<script src="{% static 'home/js/jquery.min.js' %}"></script>
<script src="{% static 'home/js/bootstrap.min.js' %}"></script>
<script src="{% static 'home/js/grid.js' %}"></script>

  <script type="text/javascript">
  $(function(){

{% for c in data %}
    var k;
    var cell={{c.cell_number}};
    if({{c.across_down}}==1)
          k=1;
    else
          k=100;
    for(var i=0;i<{{c.answer_length}};i++)
      {
        $cell = $("#"+cell);
        //console.log($cell);
        //console.log($("#"+cell).css("background-color"));
        $("#"+cell).css("background-color","#fff")
        cell=cell+k; 
        //console.log(cell);


      }

{% endfor %}

  });
  
    
  </script>

</head>
<body class="body" style="background-color:#ccc">

    <div id="abc" class="container" ></div>
    <div id="modal_container"></div>

</body>
</html>
