<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}" type = "text/css"/>
<meta name="viewport" content = "width=device-width, initial-scale=1.0">

  <style>
  html,
  body {
    height:100%;
  }
  .cell
  { margin-left: 2px;
    margin-top: 2px;
    float: left;
    height: 30px;
    width: 30px;
    background-color: #ccc;
    color: #000;


  }
  #abc
  {

    margin-top:100px;
    width:560px;
  }
  .cellNo
  {
    color: #000;
    font-size: 9px;
    margin-left:  2px;
    margin-top: 0px;
    height: 9px;
  }
  .textDiv
  {
    position:relative;
    top:-8px;
    color: #000;
    font-size: 18px;
    margin-left: 10px;

  }
  #finish_button
  {
    margin-left:46%;
    margin-top:20px;
  }
  </style>
<script src="{% static 'home/js/jquery.min.js' %}"></script>
<script src="{% static 'home/js/bootstrap.min.js' %}"></script>
<script src="{% static 'home/js/crossword.js' %}"></script>
<script type="text/javascript">

  $(function(){
    {% for c in data %}

      var k,t,classList;
      var cell={{c.cell_number}};
      $("#n"+cell).text(""+{{c.clue_number}});
      if({{c.across_down}}==1){
        k=1;
        t='a';
        }
      else{
        k=100;
        t='d';
        }
    for(var i=0;i<{{c.answer_length}};i++){
      // cell = ("#"+cell);
      //console.log($cell);
      //console.log($("#"+cell).css("background-color"));
      $("#"+cell).css("background-color","#fff");
      $("#"+cell).css("cursor","pointer");
      classList=$("#"+cell).attr('class').split(/\s+/);
      if(classList.length==1)
        $("#"+cell).addClass(""+{{c.clue_number}}+t);
        //console.log(cell);
      $("#"+cell).attr('data-target',"#m"+{{c.clue_number}}+t);
      $("#"+cell).attr('data-toggle',"modal");
      cell=cell+k;

        //$("#n"+cell).text("1");

      }
      mod = document.createElement('div');
      mod.className = "modal fade";
      mod.id = "m"+{{c.clue_number}}+t;
      document.getElementById("modal_container").appendChild(mod);
      //document.write(i);

      

{% endfor %}
  

  });


  </script>


  <script>
   var cell_letter={};
   var cell_count={};
   var cell_class={};
       str1 =  `<div class='modal-dialog'>
          <div class='modal-content'>
              <!-- Modal Header -->
              <div class='modal-header'>
                  <button type='button' class='close'
                     data-dismiss='modal'>
                         <span aria-hidden='true'>&times;</span>
                         <span class='sr-only'>Close</span>
                  </button>
                  <h4 class='modal-title' id='myModalLabel'>
                      Clue Info
                  </h4>
              </div>

              <!-- Modal Body -->
              <div class='modal-body'>

                  <form class='form-horizontal' role='form' action='/answer' method='post'>
                  <input class="hidden" type="hidden" name="clue_num" value="0">
                  <input class="hidden" type="hidden" name="a_d" value="a">
                  <input class="hidden" type="hidden" name="reg_exp" value="a">
                  <input class="hidden" type="hidden" name="dict" value="">
                      <div class='form-group'>
                      <label  class='col-sm-2 control-label'
                                for='answer'>Answer</label>
                      <div class='col-sm-10'>
                          <input type='text' name='answer' value="" class='form-control'
                          id='answer'/>
                      </div>
                    </div>
                    <div class='form-group'>
                    <label  class='list col-sm-2 control-label'
                              for='list'>List</label>
                      <div class='col-sm-10'>
                        <select  name='List'  class='list form-control'
                        id='answer'>
                        <option value=""></option>
                        </select>
                      </div>
                    </div>
                    <div class='form-group'>
                      <div class='col-sm-offset-2 col-sm-10'>
                        <button type='submit' class='btn btn-default'>Submit</button>
                      </div>
                    </div>
                  </form>
                  <form class='form-horizontal' role='form' action='/solve' method='post'>
                   <div class='form-group'>
                    <div class='col-sm-offset-2 col-sm-10'>
                     <input class="hidden" type="hidden" name="solve_clue_num" value="0">
                     <input class="hidden" type="hidden" name="solve_a_d" value="a">
                      <button type='submit' class='solve btn btn-default'>Solve</button>
                    </div>
                   </div>
                  </form>

              </div>
          </div>
      </div>`;

  $(function(){
    
    var i,k,str;
    {% for d in data%}

      if({{d.across_down}}==1)
         m=1;
      else
         m=100;

      if({{d.across_down}}==1){
             t='a';
        }
      else{
              t='d';
        } 


      if({{d.ans_flag}}==1)
      {
        //$("#t"+{{d.cell_number}}).text();
        //console.log("{{d.answer}}");
        str=""+"{{d.answer}}";



        for(i=0;i<{{d.answer_length}};i++)
        {

           k={{d.cell_number}}+(i*m);
           cell_letter[k]=str[i];
           $("#t"+k).text(str[i]);
           if(cell_count[k]==null)
            cell_count[k]=1;
           else
            cell_count[k]=2;
           //console.log("abc");

            if(cell_class[k]==null)
               cell_class[k]=""+{{d.clue_number}}+t;
             else
               cell_class[k]=cell_class[k]+" "+{{d.clue_number}}+t;
           
            }


          }
 

      $("#m"+{{d.clue_number}}+t).attr('tabindex',"-1");
      $("#m"+{{d.clue_number}}+t).attr('role',"dialog");
      html = $.parseHTML(str1);
      $("#m"+{{d.clue_number}}+t).append(html);
      u = $("#m"+{{d.clue_number}}+t+" input.hidden[name='clue_num']");
      u.val({{d.clue_number}});
      u = $("#m"+{{d.clue_number}}+t+" input.hidden[name='solve_clue_num']");
      u.val({{d.clue_number}});
      //console.log(u.val());
      v = $("#m"+{{d.clue_number}}+t+" input[name='a_d']");
      v.val(t);
      v = $("#m"+{{d.clue_number}}+t+" input[name='solve_a_d']");
      v.val(t);
      //console.log(v.val());


      //regular expression
      //var clue_exp={};
      

      


    
      

    {%endfor%}

    console.log(cell_class);
   
   fn1();


  });

  function fn1()
  { 
    var i,m,t,k;
    
    {% for d in data %}
    
    if({{d.across_down}}==1){
        t='a';
        m=1;
        }
      else{
        t='d';
        m=100;
        }  
        var s="";
    u = $("#m"+{{d.clue_number}}+t+" input.hidden[name='dict']");
    u.val(JSON.stringify(cell_class));
    if({{d.ans_flag}}==0)
    {
    
      for(i=0;i<{{d.answer_length}};i++)
      {
        k={{d.cell_number}}+(i*m);

        if(cell_letter[k]==null)
          s=s+"_";
        else
          s=s+cell_letter[k];
        //console.log(cell_letter[k]);
        //console.log(s);
      }
    }

      //clue_exp[""+{{d.clue_number}}+t]=s;
      //console.log(s);
      //console.log(cell_count);
   if({{d.ans_flag}}==1)
    {
      //console.log({{d.ans_flag}});
       for(i=0;i<{{d.answer_length}};i++)
      {
        k={{d.cell_number}}+(i*m);
         if(cell_count[k]==1)
          s=s+"_";
         else
          s=s+cell_letter[k];
      }


    }

    u = $("#m"+{{d.clue_number}}+t+" input.hidden[name='reg_exp']");
    u.val(s);



      if({{d.list_flag}} == 0){
        $("#m"+{{d.clue_number}}+t+" .list").hide();
      }
      else{
        $("#m"+{{d.clue_number}}+t+" .solve").hide();
        {% for ans in d.ans_list %}
          var flag=0;
          var str2=""+"{{ans}}";
          if(str2.length==s.length)
          {
            for(i=0;i<str2.length;i++)
            {
              if(s[i]!='_'&&s[i]!=str2[i])
                break;
            }
            if(i==str2.length)
              flag=1;
          }
          if (flag==1)
          {
          $("#m"+{{d.clue_number}}+t+" select").append($('<option>', {
              value: "{{ans}}",
              text: '{{ans}}'
          }));
        }
        {% endfor%}
      }


      $("#m"+{{d.clue_number}}+t+" select").change(function(){
         if({{d.across_down}}==1){
           t='a';
           }
         else{
           t='d';
           }
         var p = $(this).find("option:selected").attr("value");
         //console.log(p);
         $("#m"+{{d.clue_number}}+t+" input[type='text']").val(p);
      });

      if ( {{d.ans_flag}} == 1){
        $("#m"+{{d.clue_number}}+t+" input[type='text']").val("{{d.answer}}");
      }

      {%endfor%}
  }      
  
  </script>

</head>
<body class="body" style="background-color:#ccc">
    <div id="abc" class="container" ></div>
    <div id="modal_container"></div>

</body>
</html>
